{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h2>DashBoard</h2>
    <table class="table table-condensed table-bordered">
        <tr>
            <th>Société</th>
            <th>Nombre de contact</th>
        </tr>
        {% for stat in contactStats %}
        <tr>
            <td>{{ stat.company }}</td>
            <td>{{ stat.contact_count }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
